<!-- INTERPOLATION lay data từ app.component ra hiển thị lên html  -->

<p>{{user.name}}</p>
<p>{{user.age}}</p>

<!--2 PROPERTY BINDING lay data từ app.component ra hiển thị lên html-->
<input type="text" [value]="user.name">

<!-- 3 EVENT BINDING nhận sự kiện từ form html-->
<button type="button" (click)="handler()"> click me</button>

<input type="text">

<!-- show data bằng vòng lặp for -->
<!-- *ngFor="" là vòng lặp for -->
<!-- *ngIF="" là vòng lặp if -->
<!-- 
  - $implicit : giá trị phần tử trong danh sách ở lần lặp lại
  - index : số lần lặp lại
  - count : số lượng phần tử trong data
  - first : True nếu đây là phần tử đầu tiên trong danh sách
  - last : True nếu đây là phần tử cuối cùng trong danh sách
  - even : True nếu đây là phần tử ở index chẵn
  - odd: True nếu đây là phần tử ở index lẻ
 -->
<ul>
    <li *ngFor=" let u of users; index as idx; count as total; first as isFirst; last as isLast; even as isEven; odd as isOdd">
        <span>{{u.id}} - {{u.name}} - {{u.email}} - {{u.phone}}</span>
        <br>
        <span>index : {{idx}} ---- total : {{total}}</span>
        <br>
        <span>first : {{isFirst}} ---- last : {{isLast}}</span>
        <br>
        <span>even : {{isEven}} ---- odd : {{isOdd}}</span>
        <br>
    </li>
</ul>
<div *ngFor=" let u of users">{{u.address.city}}</div>
<h1 class="">geo</h1>
<div *ngFor=" let u of users">{{u.address.geo.lng}}</div>